<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by firstname"
        [(ngModel)]="firstname"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Passengers List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let passenger of passengers; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePassenger(passenger, i)"
      >
        {{ passenger.firstname }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPassenger()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentPassenger.id">
      <h4>Passenger</h4>
      <div>
        <label><strong>First Name:</strong></label>
        {{ currentPassenger.firstname }}
      </div>
      <div>
        <label><strong>Middle Name:</strong></label>
        {{ currentPassenger.middlename }}
      </div>
      <div>
        <label><strong>Surname:</strong></label>
        {{ currentPassenger.surname }}
      </div>
      <div>
        <label><strong>Phone:</strong></label>
        {{ currentPassenger.phone }}
      </div>
      
      <div>
        <label><strong>Email:</strong></label>
        {{ currentPassenger.email }}
      </div>
      <div>
      <div>
        <label><strong>Date:</strong></label>
        {{ currentPassenger.date}}
      </div>
      <div>
        <label><strong>Gender:</strong></label>
        {{ currentPassenger.gender}}
      </div>
      <a
        class="badge badge-warning"
        routerLink="/passengers/{{ currentPassenger.id }}"
      >
        Edit
      </a>
    </div>

    <div *ngIf="!currentPassenger">
      <br />
      <p>Please click on a Passenger...</p>
    </div>
  </div>
</div>
