<%- include('../partials/header.ejs'); %>

  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3 class="mt-2">Booked Ticket </h3>
       
        <div class="table">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                
                <th class="text-center">Ticket Number</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
              </tr>
            </thead>
            <tbody>
              <!-- Template Row -->
              <% for (let count=0; count < sl.length; count++) { %>
                <% for (let j=0; j < sl[count].questions.length; j++) { %>
                 <tr>
                  <td>
                 <%=   sl[count].questions[j].question%>
                  <% for (let k=0; k < sl[count].questions[j].optionsList.length; k++) { %>
                 
                      <%=   sl[count].questions[j].optionsList[k].option%>
                     
                <% } %>
                 </td>
                       </tr>
                <% } %>
                <% } %>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer.ejs'); %>