<%- include('../partials/header.ejs'); %>
    <div class="container mt-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
     <div class="row d-flex justify-content-center">
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_totrpclr.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
     </div>
    </div>
  </div>
  <script>
  setTimeout(function () {
     window.location = "/survey";
  }, 3000)
</script>
<%- include('../partials/footer.ejs'); %>