<%- include('../partials/header.ejs'); %>

<div class="container mt-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">

        <div class="bg-light">
            <div class="container">
                <div class="row align-items-center">

                    <h1 class="display-4 text-center">About Us</h1>

                </div>
            </div>

        </div>


        <div class="bg-light">
            <div class="container py-5">

                <div class="row text-center">
                    <!-- Team item-->
                    <div class="col-xl-4 col-sm-6 mb-2">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="/assets/images/r.png" class="aboutUsImage"/>
                            <h5 class="mb-0">Raghav Thakkar</h5><span
                                class="small text-uppercase text-muted">Product-Manager</span>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-4 col-sm-6 mb-2">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                         <img src="/assets/images/y.jpg" class="aboutUsImage"/>
                            <h5 class="mb-0">Yash Kachhiyapatel</h5><span
                                class="small text-uppercase text-muted">Database Designer</span>

                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-4 col-sm-6 mb-2">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                         <img src="/assets/images/a.png" class="aboutUsImage"/>
                            <h5 class="mb-0">Aakash</h5><span class="small text-uppercase text-muted">Lead -
                                Developer</span>

                        </div>
                    </div>
                    <!-- End-->
                </div>


                <div class="row text-center">
                    <!-- Team item-->
                    <div class="col-xl-4 col-sm-6 mb-2">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                         <img src="/assets/images/as.png" class="aboutUsImage"/>
                            <h5 class="mb-0">Abdullah Shaikh</h5><span
                                class="small text-uppercase text-muted">UI-Designer</span>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-4 col-sm-6 mb-2">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                         <img src="/assets/images/in.png" class="aboutUsImage"/>
                            <h5 class="mb-0">Irin</h5><span class="small text-uppercase text-muted">Web Designer</span>

                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-4 col-sm-6 mb-2">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                         <img src="/assets/images/h.png" class="aboutUsImage"/>
                            <h5 class="mb-0">Good News</h5><span class="small text-uppercase text-muted">Security
                                Management</span>

                        </div>
                    </div>
                    <!-- End-->
                </div>


            </div>
        </div>

    </div>
</div>

<%- include('../partials/footer.ejs'); %>