<%- include('../partials/header.ejs'); %>

  <div class="container mt-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">


      
      <div class="row text-center">

         <div class="col-xl-6 col-sm-12 mb-2 d-flex justify-content-center flex-column">
           <div><h1>Take Survey</h1></div>
           <div><p>Take survey any time</p></div>
           <div>
             <a href="/survey" class="btn btn-primary">View Survey</a>
             <a href="/survey/add" class="btn btn-primary">Create Survey</a>
           </div>
         </div>
         <div class="col-xl-6 col-sm-12 mb-2 mt-4">
           <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_ltuqrtmn.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
         </div>

      </div>

    </div>
  </div>

  <%- include('../partials/footer.ejs'); %>