<%- include('../partials/header.ejs'); %>
  <div class="container mb-3 ">
    <div class="row d-flex justify-content-center">
      <div class="col-md-offset-3 col-md-6">

        <!-- message area -->


        <form id="loginForm" novalidate method="POST" style="margin-top: 200px ;">

          <div class="card shadow-lg p-3 mb-5 bg-black rounded">
            <div class="card-body">
              <h1 class="card-title text-center">Login</h1>
              <%- include('../partials/footer.ejs'); %>


                <% if(messages.length> 0) { %>
                  <div id="messageArea" class="alert alert-danger">
                    <%= messages %>
                  </div>
                  <% } %>
                    <div class="col-auto">
                      <label class="sr-only" for="inlineFormInputGroup"></label>
                      <div class="form-group mb-2">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-user">
                            </i>
                          </span>
                          <input type="text" class="form-control" id="username" name="username" required value=""
                            placeholder="Enter your username">
                        </div>
                      </div>

                    </div>

                    <div class="form-group col-auto">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-lock">
                          </i>
                        </span>
                        <input type="password" class="form-control" id="password" name="password" required value=""
                          placeholder="Enter your password">
                      </div>

                    </div>

                    <div class="text-end mt-2 col-auto">
                      <button id="loginButton" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>
                        Login</button>
                      <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo"></i>
                        Cancel</button>
                    </div>

                    <div class="text-center mt-2 col-auto">
                      <a href="/register" id="loginButton" type="submit"></i>Don't have account? Register</a>
                    </div>

            </div>
          </div>


        </form>

      </div>

    </div>
  </div>